<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1>Haqqimizda</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius accusamus libero illum, deleniti soluta, quo rem sit quos illo optio vel consequuntur commodi quae ab ratione architecto minima reiciendis rerum.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius accusamus libero illum, deleniti soluta, quo rem sit quos illo optio vel consequuntur commodi quae ab ratione architecto minima reiciendis rerum.</p>
    </section>

</body>
</html>