body {
    background: rgb(242, 228, 188);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px solid #000;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    margin: 30px;
}

section {
    max-width: 800px;
    margin: 40px auto;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 40px auto;
}

form input {
    margin-top: 10px;
    padding: 5px 10px;
}